APP_NAME="BBKKP SIS"
APP_ADDRESS="Jl. Sukonandi No.9, Semaki, Kec. Umbulharjo, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55166"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=bbkkp_sis
DB_USERNAME=root
DB_PASSWORD=

DB2_CONNECTION=mysql
DB2_HOST=127.0.0.1
DB2_PORT=3306
DB2_DATABASE=bbkkp_sis_log
DB2_USERNAME=root
DB2_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT=
GOOGLE_PUSH_KEY=AAAADMTuaS4:APA91bEKb5VRnWm5B_XJxpKtFmkGMAls1RMudXUZsylmUVd2zYiG095wZxV35MGQKS2yVCaV25jpQtSiW030U8_O4du9Qmppek_MzuqEJIybIwy_GBt77zcajOl2YE8Pj8v35AQhWJ0p

SIHALAL_SERVER="http://103.7.14.55"
SIHALAL_URL_FOLDER_DOKUMEN="https://ptsp.halal.go.id/files/"
SIHALAL_URL_FOLDER_INVOICE="https://ptsp.halal.go.id/invoice/"
SIHALAL_USERNAME="lsbbkkp@gmail.com"
SIHALAL_PASSWORD="NewNormal2020"
SIHALAL_LPH_ID="D10217E0-383E-42F3-9841-827915AE0438"
SIHALAL_LPH_MAPED_ID="552CEDB6-BFCE-42D8-A22F-04FECB33E50D"

SSO_IS_ENABLED=true
SSO_SERVER=http://localhost:4000
SSO_BROKER_ID=bbkkp_sis
SSO_BROKER_SECRET=
